# Usage:
# direnv allow

export DOCKER_BUILDKIT=0
export COMPOSE_DOCKER_CLI_BUILD=0
export DOCKER_DEFAULT_PLATFORM=linux/amd64

export PGHOST=localhost
export PGUSER=postgres
export PGDB=dab
export PGPASSWORD=

if type pg_isready &> /dev/null; then
  pg_isready -U $PGUSER -h $PGHOST && {
    PGPASSWORD=$PGPASSWORD psql -h $PGHOST -U $PGUSER -d $PGDB -b -f ./postgresql/data.sql
    PGPASSWORD=$PGPASSWORD psql -h $PGHOST -U $PGUSER -d $PGDB -c "\dt;"
  }
fi
