export PGUSER=postgres
export PGPASSWORD=mysecretpassword
export PGDB=example
export DAB_ENVIRONMENT=PostgreSql
PGPASSWORD=$PGPASSWORD psql -h localhost -U $PGUSER -d $PGDB -c "\dt;"
#export DATABASE_CONNECTION_STRING=
