export DOCKER_BUILDKIT=0
export COMPOSE_DOCKER_CLI_BUILD=0
export DOCKER_DEFAULT_PLATFORM=linux/amd64


export PGUSER=postgres
export PGPASSWORD=
export PGDB=dab
export PGHOST=localhost


PGPASSWORD=$PGPASSWORD psql -h $PGHOST -U $PGUSER -d $PGDB -f data.sql
PGPASSWORD=$PGPASSWORD psql -h $PGHOST -U $PGUSER -d $PGDB -c "\dt;"
